body {
    margin: 0;
    padding-bottom: 100px;
    position: relative;
    overflow-x: hidden;
}

.main-content {
    font-size: 4vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    min-height: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("/public/images/40gp-uneedit5.jpg");
    z-index: -1;
}

.secondary-content {
    width: auto;
    height: 100vh;
    border: dotted black 2px;
    margin-top: 1px;
}

.Uneed-Title {
    padding-top: 2vh;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cred {
    color: red;
    font-size: 4vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.cblue {
    color: mediumturquoise;
    font-size: 4vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

hr.lineR {
    border: 1px red solid;
    width: 50%;
}

hr.lineB {
    border: 1px blue solid;
    width: 50%;
}

/* Over Ons Page*/

.OverOns {
    padding-bottom: 300px;
    min-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/images/uneedi01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .ootext {
        background-color: rgba(51, 51, 51, 0.95);
        width: 60vw;
        padding: 20px 40px;
        border-radius: 10vh;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        border: 3px solid red;
        color: white;

        p {
            font-size: 24px;
        }
    }
}

/* Service Page */

.Service-Container {
    background-image: url("/public/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    .Service-Align,
    .Service-Align2 {
        color: white;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.95);
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 78vw;
        margin-left: 10vw;

        &.Service-Align {
            margin-top: 0;
        }

        &.Service-Align2 {
            margin-top: 5px;
        }
    }

    .Service-Text {
        margin-top: 50px;
        display: flex;

        .Service-Paragraaf {
            width: 300px;
        }
    }

    .Graphic-Design,
    .Graphic-Design1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1vh;
        border-radius: 7px;
        transition: 0.2s;
        width: 500px;
        height: 270px;
        margin: 0 1vh;
        justify-content: center;

        &:hover {
            border: solid 2px;
            padding: 5px;
            width: 520px;
        }

        &.Graphic-Design {
            border-color: mediumturquoise;

            &:hover {
                border-color: mediumturquoise;
            }
        }

        &.Graphic-Design1 {
            border-color: rgb(234, 14, 14);

            &:hover {
                border-color: rgb(220, 21, 21);
            }
        }
    }

    .Lorem {
        color: white;
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;

        .Lorem-Text {
            width: 285px;
        }
    }
}

/* Bezorgdiensten Page*/

.bezorgdiensten-container {
    background-image: url("/public/images/back.jpg"); /* Placeholder Img */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    justify-content: center;

    .bezorgdiensten-text-container {
        border: 2px solid red;
        color: white;
        margin-top: 12vh;
        height: 47vh;
        width: 40vw;
        border-radius: 20px;
        background-color: rgba(51, 51, 51, 0.95);

        .textbezorg {
            font-size: 3vh;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .bezordienstenlc {
            list-style: none;
            text-align: center;
        }
    }

    .bezorgdiensten {
        display: flex;
        justify-content: center;
        width: 20vw;
        margin-left: 7.8vw;
        text-align: center;
        font-size: 2vh;
    }
}


/* Faq Page*/

.faq-page-container {
    background-image: url("/public/images/back.jpg"); /* Placeholder Img */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;

    .faq-container {
        color: white;
        font-size: 2vh;
        max-height: 500px;
        width: 800px;
        padding: 20px;
        background-color: rgba(51, 51, 51, 0.95);
        border: 3px solid red;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .question {
            font-weight: bold;
            margin-bottom: 10px;
            padding: 8px;
            cursor: pointer;
        }

        .answer {
            display: none;
            padding-left: 20px;
            margin-bottom: 2px;

            &.show {
                display: block;
            }
        }
    }
}


/* Contact Page */

.main-contact-content {
    font-size: 4vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("/public/images/uneeditcont.jpg");

    .contact-content {
        text-shadow: rgba(51, 51, 51, 0.95) 2px 0 10px;
        margin: 0;
        padding: 0 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
                padding: 20px;
                font-size: 20px;

                a {
                    color: blue;

                    &:hover {
                        color: #ffd700;
                    }
                }
            }
        }
    }

    .iframe {
        width: 100%;
    }
}


/* Navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(51, 51, 51, 0.95);
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;

    #logoNav img {
        height: 80px;
        width: auto;
    }

    #logoOptions {
        display: flex;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        margin-right: 30px;
        margin-left: 20px;
        padding: 0;
        display: flex;
        flex-direction: row;

        li {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2vh;
                color: red;
            }

            &.redc a {
                color: red;
                &:hover {
                    color: mediumturquoise;
                }
            }

            &.bluec a {
                color: mediumturquoise;
                &:hover {
                    color: red;
                }
            }
        }
    }
}

/* Home page */

.homeText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(51, 51, 51, 0.95);
    width: 25vw;
    height: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px;

    img {
        width: 20vw;
        margin-top: 7px;
    }

    p {
        font-size: 25px;
        margin-top: 15px;
    }

    .white-text {
        color: white;
    }

    .blue-text {
        color: mediumturquoise;
        font-size: 3vh;
    }

    .red-text {
        color: red;
        font-size: 3vh;
    }
}


/* Footer */

#footer {
    background-color: rgba(51, 51, 51, 0.95);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    z-index: 999;
    transition-duration: 0.300s;

    &:hover {
        height: 12vh;
    }

    section {
        flex-grow: 1;

        p {
            margin: 0;
            color: mediumturquoise;
            font-weight: bold;
        }

        a {
            color: #fff;

            &:hover {
                color: #ffd700;
            }
        }

        img {
            width: 50px;
            height: auto;
            margin-right: 10px;
        }
    }

    #phoneNumber,
    #address,
    #timeLabel {
        flex-grow: 1;
        text-align: center;
    }
}

#result {
    text-align: center;
    font-size: 3vh;
}


/* Calender */

.afspraken-container {
    display: flex;
    justify-content: center;
}


.calenderAppointment {
    display: none;
}

.calendar {
    font-size: 2.5vh;
    width: 40vw;
    height: 80vh;
    margin-top: 16vh;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.95);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 40px 30px -20px rgba(51, 51, 51, 0.95);
    text-align: center;

    .month {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 4vh;
        color: red;

        .year {
            font-weight: 600;
            margin-left: 10px;
            font-size: 4vh;
            color: mediumturquoise;
        }

        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: rgb(220, 21, 21);
            width: 40px;
            height: 40px;
            border-radius: 40px;
            transition-duration: .2s;
            position: relative;

            &:hover {
                background: #eee;
            }
        }

    }

    .days {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);
        color: #999;
        font-weight: 600;
        margin-bottom: 15px;

        span {
            justify-self: center;
            align-self: center;
            text-align: center;
            padding: 1vw;
        }
    }

    .dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 25px;

        button {
            color: rgb(220, 21, 21);
            cursor: pointer;
            outline: 0;
            border: 0;
            background: transparent;
            font-family: 'Montserrat', sans-serif;
            width: 100%;
            height: 60px;
            border-radius: 10px;
            transition-duration: .2s;
            padding: 10px;

            &.today {
                color: red;
                font-weight: bold;
                box-shadow: inset 0px 0px 0px 2px mediumturquoise;
            }

            &:hover {
                background: rgba(51, 51, 51, 0.95);
            }

            &:focus {
                background: #0a3d62;
                color: #fff;
                font-weight: 600;
            }
        }
    }
}

.calenderAppointment {
    text-align: center;
    font-size: 2.5vh;
    width: 20vw;
    height: 63vh;
    margin-top: 23vh;
    margin-left: 5vh;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.95);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 40px 30px -20px rgba(51, 51, 51, 0.95);
    color: white;

    form input {
        padding: 5px;
        margin: 2px;
        text-align: left;

    }

    button {
        text-align: center;
        font-size: 2vh;
        color: white;
        margin-left: 15vw;
        margin-bottom: 3vh;
        background-color: darkgray;

        &:hover {
            color:black;
            background-color: red;
        }
    }

    #type {
        font-size: 2.5vh;
        text-align:left;
        padding: 5px;
        width: 15vw;
    }

}


/*Account page */

.container {
    height: 100dvh;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("/public/images/uneeditcont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vh;

    .bottom {
        color: #eee;
    }

    .registeren-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2vh;

        h1 {
            text-align: center;
        }

        #first_name,
        #last_name,
        #confirm_password,
        #street_name,
        #street_number,
        #street_additional,
        #city,
        #country,
        #postal_code {
            font-size: 3vh;
            border-radius: 10px;
        }
    }
    .card{
        font-size: 2vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
        text-align: 3vh;
        width: 25vw ;
    }
}





