body {
    margin: 0;
    padding-bottom: 100px;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 1000px;
}

.square {
    position: absolute;
}

.square-1 {
    width: 100px;
    height: 100px;
    background: red;
    top: 600px;
}

.square-2 {
    width: 120px;
    height: 120px;
    background: black;
    left: 800px;
    top: 800px;
}

.main-content {
    font-size: 4vh;
    color: red;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("/public/images/uneeditcont.jpg");
    bottom: 100px;
    z-index: -1;
}

.main-page {
    background-image: url("/public/images/40gp-uneedit5.jpg");
}

.Uneed-Title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cred {
    color: red;
    font-size: 4vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.cblue {
    color: mediumturquoise;
    font-size: 4vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

hr.lineR {
    border: 1px red solid;
    width: 50%;
}

hr.lineB {
    border: 1px blue solid;
    width: 50%;
}

/* Over Ons Page*/

.OverOns {
    padding-bottom: 300px;
    min-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/images/uneedi01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ootext {
    background-color: rgba(51, 51, 51, 0.95);
    width: 60vw;
    padding: 20px 40px;
    border-radius: 10vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid red;
}

.ootext p {
    font-size: 24px;
}

/* Service Page */

.Service-Container {
    background-image: url("/public/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.Graphic-Design {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1vh;
    border-radius: 7px;
    border-color: mediumturquoise;
    transition: 0.2s;
    width: 500px;
    height: 270px;
    margin-right: 1vh;
    margin-left: 1vh;
    justify-content: center;
}

.Graphic-Design1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1vh;
    border-radius: 7px;
    border-color: rgb(234, 14, 14);
    transition: 0.2s;
    width: 500px;
    height: 270px;
    margin-left: 1vh;
    margin-right: 1vh;
    justify-content: center;
}

.Graphic-Design:hover {
    border: solid 2px;
    border-radius: 7px;
    border-color: mediumturquoise;
    padding: 5px;
    width: 520px;
    height: 270px;
}

.Graphic-Design1:hover {
    border: solid 2px;
    border-radius: 7px;
    border-color: rgb(220, 21, 21);
    padding: 5px;
    width: 520px;
    height: 270px;
}

.Service-Align {
    color: white;
    padding: 10px;
    margin-top: 0;
    background-color: rgba(51, 51, 51, 0.95);
    border-radius: 10px;
    display: flex;
    margin-left: 10vw;
    justify-content: space-evenly;
    width: 78vw;
}

.Service-Align2 {
    color: white;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.95);
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    margin-left: 10vw;
    justify-content: space-evenly;
    width: 78vw;
}

.Service-Paragraaf {
    width: 300px;

}

.Service-Text {
    margin-top: 50px;
    display: flex;
}

.Lorem {
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.Lorem-Text {
    width: 285px;
}

/* Bezorgdiensten Page*/

.bezorgdiensten-container {
    background-image: url("/public/images/back.jpg"); /* Placeholder Img */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    justify-content: center;
}

.bezorgdiensten-text-container {
    border: 2px solid red;
    color: white;
    margin-top: 12vh;
    height: 47vh;
    width: 40vw;
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.95);
}

.textbezorg {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bezordienstenlc {
    list-style: none;
    text-align: center;

}

.bezorgdiensten {
    display: flex;
    justify-content: center;
    width: 20vw;
    margin-left: 7.8vw;
    text-align: center;
    font-size: 2vh;
}

/* Faq Page*/

.faq-page-container {
    background-image: url("/public/images/back.jpg"); /* Placeholder Img */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;

}

.faq-container {
    color: white;
    font-size: 2vh;
    height: auto;
    max-height: 500px;
    width: 800px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.95);
    border: 3px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*text-align: center;*/
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px;
    cursor: pointer;
}

.answer {
    display: none;
    padding-left: 20px;
    margin-bottom: 2px;
}

.answer.show {
    display: block;
}

/* Contact Page */

.contact-content {
    text-shadow: rgba(51, 51, 51, 0.95) 2px 0 10px;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-content li {
    padding: 20px;
    font-size: 20px;
}

.contact-content li a{
    color: blue;
}

.contact-content li a:hover{
    color: #ffd700;
}

.iframe {
    width: 100%;
}

/* Navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(51, 51, 51, 0.95);
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
}

#logoNav img {
    height: 80px;
    width: auto;
}

#logoOptions {
    display: flex;
    justify-content: center;
}

#navbar ul {
    list-style-type: none;
    margin-right: 30px;
    margin-left: 20px;
    padding: 0;
    display: flex;

}

#navbar ul li {
    margin-right: 20px;
}

#navbar ul li:last-child {
    margin-right: 0;
}

#navbar ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    color: #fff;
}

#navbar ul li.redc a {
    color: red;
}

#navbar ul li.bluec a {
    color: mediumturquoise;
}

#navbar ul li a:hover {
    color: #ffd700;
}

.homeText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(51, 51, 51, 0.95);
    width: 25vw;
    height: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px;
}

.homeText img {
    width: 20vw;
    margin-top: 7px;

}

.homeText p {
    font-size: 25px;
    margin-top: 15px;
}

.white-text {
    color: white;
}

.blue-text {
    color: mediumturquoise;
    font-size: 3vh;
}

.red-text {
    color: red;
    font-size: 3vh;
}

/* Footer */

#footer {
    background-color: rgba(51, 51, 51, 0.95);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    z-index: 999;
    transition-duration: 0.300s;

}

#footer:hover {
    height: 110px;
}


#footer section {
    flex-grow: 1;

}

#footer section p {
    margin: 0;
    color: mediumturquoise;
    font-weight: bold;
}

#footer section a {
    color: #fff;
}

#footer section a:hover {
    color: #ffd700;
}

#phoneNumber {
    flex-grow: 1;
    text-align: center;
}

#address {
    flex-grow: 1;
    text-align: center;
}

#timeLabel {
    flex-grow: 1;
    text-align: center;
}

#footer section img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

#result {
    text-align: center;
    font-size: 3vh;
}

/* Calender */

.afspraken-container {
    display: flex;
    justify-content: center;
}

.calendar {
    margin-top: 16vh;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.95);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 40px 30px -20px rgba(51, 51, 51, 0.95);

    .month {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 300;

        .year {
            font-weight: 600;
            margin-left: 10px;
        }

        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: rgb(220, 21, 21);
            width: 40px;
            height: 40px;
            border-radius: 40px;
            transition-duration: .2s;
            position: relative;

            &:hover {
                background: #eee;
            }
        }
    }

    .days {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);
        color: #999;
        font-weight: 600;
        margin-bottom: 15px;

        span {
            width: 50px;
            justify-self: center;
            align-self: center;
            text-align: center;
        }
    }

    .dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        button {
            color: rgb(220, 21, 21);
            cursor: pointer;
            outline: 0;
            border: 0;
            background: transparent;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            justify-self: center;
            align-self: center;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin: 2px;
            transition-duration: .2s;

            &.today {
                box-shadow: inset 0px 0px 0px 2px #0a3d62;
            }

            &:first-child {
                grid-column: 3;
            }

            &:hover {
                background: #eee;
            }

            &:focus {
                background: #0a3d62;
                color: #fff;
                font-weight: 600;
            }
        }
    }
}

/*Account page */

.container {
    height: 100dvh  ;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("/public/images/uneeditcont.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vh;
}

.form {
    font-size: 3vh;
    margin-top: 10vh;
    margin-right: 3vh;
    margin-bottom: 30vh;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.95);
    padding: 10vh;
    padding-top: 3vh;
    border-radius: 5vh;
    text-align: center;
}

.form a {
    text-align: center;
    color: aqua;
    font-size: 2.5vh;
}



#email {
    font-size: 3vh;
    border-radius: 10px;

}

#password {
    font-size: 3vh;
    border-radius: 10px;

}

#postButton{
    font-size: 3vh;
    border-radius: 10px;

}

.bottom {
    color: #eee ;


}

.registeren-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vh;
    

}
.registeren-page h1{
    text-align: center;
}

#first_name{
    font-size: 3vh;
    border-radius: 10px;
}

#last_name{
    font-size: 3vh;
    border-radius: 10px;
}

#confirm_password{
    font-size: 3vh;
    border-radius: 10px;
}

#street_name{
    font-size: 3vh;
    border-radius: 10px;
}

#street_number{
    font-size: 3vh;
    border-radius: 10px;
}

#street_additional{
    font-size: 3vh;
    border-radius: 10px;
}

#city {
    font-size: 3vh;
    border-radius: 10px;
}

#country {
    font-size: 3vh;
    border-radius: 10px;
}

#postal_code {
    font-size: 3vh;
    border-radius: 10px;
}



