body {
    margin: 0;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;

}
.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main-page {
    background-image: url("/public/images/40gp-uneedit5.jpg");
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#logoNav img {
    height: 80px;
    width: auto;
}

#logoOptions {
    display: flex;
    justify-content: center;
}

#navbar ul {
    list-style-type: none;
    margin-right: 30px;
    margin-left: 20px;
    padding: 0;
    display: flex;

}

#navbar ul li {
    margin-right: 20px;
}

#navbar ul li:last-child {
    margin-right: 0;
}

#navbar ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

#navbar ul li.redc a {
    color: red;
}

#navbar ul li.bluec a {
    color: mediumturquoise;
}

#navbar ul li a:hover {
    color: #ffd700;
}

.homeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(51, 51, 51, 0.95);
    width: 450px;
    height: 125px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 13px;
}

.homeText img {
    width: 300px;
    margin-top: 7px;

}

.homeText p {
    margin-top: 15px;
}

.white-text {
    color: white;
}

.blue-text {
    color: mediumturquoise;
}

.red-text {
    color: red;
}


#footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    z-index: 999;
}

#footer div {
    flex-grow: 1;
}

#footer div p {
    margin: 0;
}
#phoneNumber {
    flex-grow: 1;
    text-align: center;
}
#address{
    flex-grow: 1;
    text-align: center;
}
#timeLabel{
    flex-grow: 1;
    text-align: center;
}
#footer div img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.contact-content {
    margin: 0;
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-content li {
    padding: 20px;
    font-size: 20px;
}

.iframe {
    width: 100%;
}
